<p id="notice"><%= notice %></p>

<div class="wrapper">
  <nav id="sidebar">
    <% @categories.each do |category| %>
      <li><%= link_to category.title, category %></li>
    <% end %>
  </nav>
</div>


<br>

<%= link_to 'Add New Category', new_category_path %><br>
<%=link_to "Add New Post", new_post_path %><br><br>
