<% if user_signed_in? %>

  <%= render 'index', categories: @categories%>

<% else %>

    <p>
      <%= link_to("Sign Up", new_user_registration_path) %>
      or
      <%= link_to("Sign In", new_user_session_path) %>
    </p>

  <%= render 'index', categories: @categories%>

<% end %>
